#content-blog {
  background-color: #FFFFFF;
  margin: 0;
  text-align: left;
  padding: 0;
}
#content-blog .blog-post {
  padding: 1em 0 0 0;
  margin: 1em auto;
  width: 45em;
}
#content-blog .blog-post .absolute {
  position: absolute;
}
#content-blog .blog-post .front {
  border: 0px solid rgba(0, 0, 0, 0);
  -webkit-transition: .12s ease;
  -moz-transition: .12s ease;
  -o-transition: .12s ease;
  transition: .12s ease;
}
#content-blog .blog-post .post-img {
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  position: absolute;
}
#content-blog .blog-post .back {
  border: 0px solid #ffffff;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  background-color: #005367;
}
#content-blog .blog-post .post-title {
  font-family: "Helvetica Neue", Sans-Serif;
  font-weight: 200;
  font-size: 1.8em;
  font-style: normal;
  color: #444444;
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
  margin: 2em 0 2em 1em;
  padding-top: 2em;
}
#content-blog .blog-post .post-title p {
  margin-left: 5em;
}
#content-blog .blog-post .post-title p span {
  font-family: "Helvetica Neue", "Arial", Sans-Serif;
  font-weight: 100;
  font-size: .6em;
}
#content-blog .blog-post .post-title:hover {
  color: #00b9e6;
}
#content-blog .blog-post .post-title:hover .front {
  border: 1.5em solid rgba(103, 225, 255, 0.5);
}
#content-blog .blog-post .post-title:hover .back {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}
@media only screen and (min-width: 320px) and (max-width: 639px) {
  #content-blog .blog-post {
    width: 90%;
  }
  #content-blog .blog-post .post-title {
    font-size: 1.4em;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  #content-blog .blog-post {
    width: 65%;
  }
  #content-blog .blog-post .post-title {
    font-size: 1.6em;
  }
}
