#hero {
  background: 50% 0 no-repeat fixed;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  position: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/vancouver-skyline.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/vancouver-skyline.jpg', sizingMethod='scale')";
}
#hero div {
  font-family: "Helvetica Neue", Sans-Serif;
  font-weight: 200;
  font-size: 4em;
  position: absolute;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
  bottom: 40%;
}
#hero .arrow {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -10px;
  border: 2px solid #ffffff;
  background: rgba(0, 0, 0, 0);
  border-left: 0;
  border-top: 0;
  outline: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}
#post-content {
  width: 50%;
  color: #000000;
  font-family: "Helvetica", Sans-Serif;
  font-weight: 200;
  font-size: 18px;
  padding-top: 20px;
  margin: 0 auto;
  line-height: 1.5em;
}
#post-content article blockquote {
  padding-left: 20px;
  border-left: 6px solid #b13e32;
}
#post-content article a {
  color: #3ac4df;
  text-decoration: none;
}
#post-content article a:visited {
  color: #3ac4df;
}
#post-content article a:hover {
  color: #92deed;
}
#post-content article img {
  width: 100%;
  margin-bottom: 0px;
}
#post-content article figcaption {
  color: #6a6a6a;
  font-size: .8em;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 639px) {
  #hero {
    background: url(../images/winter-dusting.jpg) no-repeat center center scroll;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  #hero div {
    margin: auto;
    padding: 5px;
    font-size: 2em;
    font-weight: 200;
    color: #ffffff;
    position: relative;
    width: 80%;
    text-align: center;
    text-shadow: 0px 0px 5px #000000;
    top: 45%;
  }
  #post-content {
    width: 85%;
  }
  .st-menu {
    position: fixed;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  #hero {
    background: url(../images/winter-dusting.jpg) no-repeat center center scroll;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  #hero div {
    font-size: 3em;
  }
  #post-content {
    width: 80%;
  }
}
