@import 'fonts.less';
@import 'colors.less';

.blog-post {
	margin: 0 auto;
	width: 80%;
	border-bottom: 1px solid #DDDDDD;
	padding: 2em 0 2em 0;
	.post-title {
		.ffstandard();
		font-size: 30px;
		font-style: normal;
		margin: 20px 0 20px 0;
		color: @text-color;
		text-decoration: none;
	}
	.post-title:hover {
		color: darken(@text-color, 20%);
	}
	.post-body {
		.ffstandard();
		font-size: 20px;
		font-color: @text-color;
		line-height: 1.5em;
		padding-bottom: 1em;
	}
	.continue-reading {
		.ffstandard();
		color: @text-color;
		text-decoration: none;
		font-size: 20px;
	}
	.continue-reading:hover {
		color: darken(@text-color, 20%);
	}
}

@media only screen and (min-width:320px) and (max-width:639px) {
	.blog-post {
		width: 90%;
	}
}
@media only screen and (min-width : 640px) and (max-width : 1024px) {
	.blog-post {
		width: 85%;
	}
}