@import 'fonts.less';
@import 'colors.less';


#content-blog {
    background-color: #FFFFFF;
	margin: 0;
	text-align: left;
    padding: 0;
    .blog-post {
        padding: 1em 0 0 0;
        margin: 1em auto;
        width: 45em;
	    .absolute {
		    position: absolute;
	    }
	    .front {
		    border: 5px solid rgba(0, 0, 0, 0.0);
	    }
	    .post-img {
		    width: 3em;
			height: 3em;
			border-radius: 1.5em;
			-webkit-border-radius: 1.5em;
			-moz-border-radius: 1.5em;
		    position: absolute;
		    -webkit-transition: .15s ease;
		    -moz-transition: .15s ease;
		    -o-transition: .15s ease;
		    transition: .15s ease;
	    }
		.back {
		    border: 0px solid @white;

		}
        .post-title {
            .ffstandard();
            font-size: 1.8em;
            font-style: normal;
            color: @text-color;
            text-decoration: none;
            border-bottom: 4px solid @white;
	        margin: 2em 0 2em 1em;
	        padding-top: 2em;
	        p {
		        margin-left: 5em;
		        span {
	                .ffstandard-light();
		            font-size: .6em;
	            }
	        }

        }
        .post-title:hover {
            color: darken(@blue, 25%);
	        .front {
	            border: 1.5em solid rgba(103, 225, 255, 0.5);
	        }
	        .back {
		        -webkit-transform: rotate(360deg);
				-moz-transform: rotate(360deg);
				transform: rotate(360deg);
	        }
        }
    }
}

@media only screen and (min-width:320px) and (max-width:639px) {
    #content-blog {
        .blog-post {
            width: 90%;
            .post-title {
                font-size: 1.4em;
            }
        }
    }
}
@media only screen and (min-width : 640px) and (max-width : 1024px) {
	#content-blog {
        .blog-post {
            width: 65%;
            .post-title {
                font-size: 1.6em;
             }
        }
    }
}