#title {
  font-family: "Helvetica Neue", Sans-Serif;
  font-weight: 200;
  font-size: 2em;
  color: #444;
  text-align: center;
  border-bottom: 1px solid #ededed;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.headroom {
  padding: 5em 0 0 0;
}
#post-content {
  width: 50%;
  color: #111111;
  font-family: "Helvetica", Sans-Serif;
  font-weight: 200;
  font-size: 18px;
  padding-top: 20px;
  margin: 0 auto;
  line-height: 1.5em;
}
#post-content article blockquote {
  padding-left: 20px;
  border-left: 6px solid #b13e32;
}
#post-content article a {
  color: #3ac4df;
  text-decoration: none;
}
#post-content article a:visited {
  color: #3ac4df;
}
#post-content article a:hover {
  color: #92deed;
}
#post-content article pre {
  white-space: pre-wrap;
  font-size: 14px;
  border: 1px solid #efefef;
  padding: 0em 1em;
  margin-top: 0em;
  padding-top: 0em;
}
#post-content article img {
  width: 100%;
  margin-bottom: 0px;
}
#post-content article figcaption {
  color: #6a6a6a;
  font-size: .8em;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 639px) {
  #title {
    width: 90%;
    padding-left: .3em;
    padding-right: .3em;
  }
  #post-content {
    width: 85%;
  }
  .st-menu {
    position: fixed;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  #title {
    width: 85%;
  }
  #post-content {
    width: 80%;
  }
}
