@import 'colors.less';
@import 'fonts.less';

#content {
	form {
		width: 10em;
		margin: 2em auto 0em auto;
        border-left: .5em solid @red;
        padding-left: 2em;
		p {
            padding: 0;
			input {
				.ffstandard-light();
				font-size: 2em;
				color: @text-color;
				border: none;
				outline: none;
				letter-spacing: .1em;
                padding: 0;
			}
			.login:hover {
				color: @green;
			}
		}
        .login {
            color: darken(@green, 20%);
            padding: 0;
            border:0;
            background-color:transparent;
            font-size: 1.5em;
            cursor: pointer;
		}
	}
}

@media only screen and (min-width:320px) and (max-width:639px) {
    #content {
        form {
            border-left: .3em solid @red;
            p {
                input {
                    font-size: 1.5em;
                }
            }
            .login {
                font-size: 1em;
            }
        }
    }
}
@media only screen and (min-width : 640px) and (max-width : 1024px) {

}