@import url(http://fonts.googleapis.com/css?family=Dosis:200,400);
@import 'grid.less';

@background-dark: #2F2A26;
@background-light: #EDEDED;
@text-color: #444444;

.ffbasic() {
	font-family: "Dosis", "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 25px;
	font-style: normal;
}

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
}
#header {
	height: 8em;
	width: auto;
	background-color: #ffffff;
	border-bottom: 1px dotted #999999;
	.name {
		img {
			float: left;
			size: 1em;
			margin: .4em .8em;
		}
		margin: 50px 0px 0px 50px;
		padding-left: 30px;
		float: left;
		.ffbasic();
		a{
			color: @text-color;
			text-decoration: none; 
		}
	}

	.nav {
		margin: 50px 50px 0px 0px;
		padding: 0px;
		float: right;
		li {
		    list-style-type: none;
		    display: inline;
		    margin-left: 70px;
			.ffbasic();
			a {
				color: @text-color;
			}
		}
	}
}

.nav-btn {
	background: #333333 url("../images/nav-icon.svg") left center no-repeat;
	height: 3em;
	width: 3em;
	border:0;
	background-color:transparent;
	display: none;
}

.nav-btn:focus {
    outline: 0;
}

.button {
	text-decoration: none;
}

.button:hover {
	text-decoration: none;
}
#foot {
	text-align: center;
	width: auto;
	margin:0 auto;
}
#foot-message {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 100;
	font-size: 10px;
	color: @text-color;
}
@media only screen and (min-width:320px) and (max-width:639px) {
	.nav-btn {
		display: block;
		position: absolute;
		margin: 1.3em 0 0 1.5em;
	}
	#header {
		text-align: center;
		margin:0 auto;
		height: 4em;
		.name {
			float: none;
			margin: 0px 0px 0px 0px;
			padding: .7em 0 0 0;
			font-size: 1.5em;
			text-transform: uppercase;
			img {
				display: none;
			}
		}
		.nav {
			display: none;
		}
	}
}
@media only screen and (min-width : 640px) and (max-width : 1024px) {
	#header {
		height: 4em;
		.name {
			margin: 0px;
			padding: .7em 0 0 0;
			font-size: 1.5em;
			text-transform: uppercase;
		}
		.nav {
			margin: 0px;
			padding: .7em .3em 0 0;
			text-transform: uppercase;
			font-size: 1.5em
		}
	}
}