#header {
  background: none;
  height: 4em;
}
#header .name {
  margin: 0px;
  padding: .7em 0 0 0;
  font-size: 1.5em;
  text-transform: uppercase;
}
#header .nav {
  margin: 0px;
  padding: .7em .5em 0 0;
  text-transform: uppercase;
  font-size: 1.5em;
}
