#content-work {
  margin: 0 auto;
  width: 40%;
}
#content-work h4 {
  font-size: 1.4em;
  font-family: "Helvetica Neue", Sans-Serif;
  font-weight: 200;
}
#content-work h3 {
  font-size: 3em;
  color: #7eb12c;
  font-family: "Helvetica Neue", "Arial", Sans-Serif;
  font-weight: 100;
}
#content-work ul {
  border-left: 1px solid #893027;
  list-style-type: none;
}
#content-work ul li {
  width: 100%;
  color: #444444;
  font-family: "Helvetica Neue", Sans-Serif;
  font-weight: 200;
}
#content-work ul li a {
  color: #2b2b2b;
  text-decoration: none;
  border-bottom: 1px solid #444444;
}
#content-work ul li a:hover {
  color: #444444;
  border-bottom: 1px solid #3ac4df;
}
#content-work ul li div a {
  color: #3ac4df;
  font-weight: 400;
}
#content-work ul li div a:hover {
  color: #92deed;
}
@media only screen and (min-width: 320px) and (max-width: 639px) {
  #content-work {
    width: 90%;
  }
  #content-work ul {
    padding-left: 1em;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  #content-work {
    width: 80%;
  }
}
