$def with (head, offleft)
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/linkeffect.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/work-page.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="/static/scripts/classie.js"></script>
		<script src="/static/scripts/modernizr.custom.js"></script>
	</head>
	<body>
		<div id="st-container" class="st-container">
			$:offleft
			<div class="st-pusher">
				<div class="st-content">
					$:head
					<div id="content">
                        <h3>Americano</h3>
                        <p>
                            Americano is an <a href="http://github.com/joshandrews/americano">in-progress project</a> that powers this site.
                            It is built using python to be extremely fast and lightweight.  The entire site was written from the ground up,
                            including the simple styling and blogging platform (<a href="http://americano.io">Americano</a>).
                        </p>
                        <p>
                            This site (joshandre.ws) uses Americano as a content management system and is hosted on a
                            <a href="https://www.digitalocean.com/?refcode=c0953bd8acdd">digital ocean</a> droplet.
                        </p>
					</div>
				</div>
			</div>
			<script src="/static/scripts/sidebarEffects.js"></script>
		</div>
	</body>
</html>