$def with (head, offleft)
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/linkeffect.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/work-page.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="/static/scripts/classie.js"></script>
		<script src="/static/scripts/modernizr.custom.js"></script>
	</head>
	<body>
		<div id="st-container" class="st-container">
			$:offleft
			<div class="st-pusher">
				<div class="st-content">
					$:head
					<div id="content">
                        <h3>UBC Sailbot - Microtransat</h3>
                        <img src="/static/images/east-to-west-route.jpg"/>
                        <p>
                            I am the software team lead for the UBC Sailbot Microtransat team.  The goal of our team is to produce a
                            fully autonomous sailboat from the ground up with the intention of crossing the atlantic in
                            summer 2015.
                        </p>
					</div>
				</div>
			</div>
			<script src="/static/scripts/sidebarEffects.js"></script>
		</div>
	</body>
</html>