$def with (head, offleft, posts)

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/linkeffect.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/blog.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="/static/scripts/classie.js"></script>
		<script src="/static/scripts/modernizr.custom.js"></script>
	</head>
	<body>
		<div id="st-container" class="st-container">
			$:offleft
			<div class="st-pusher">
				<div class="st-content">
					$:head
					<div id="content-blog">
						$for post in posts:
							<div class="blog-post">

								<a class="post-title" href="/blog/$post.id/$post.title.lstrip().rstrip().replace(' ', '-').replace('!', '').replace(',','').lower()">
									$:post.title
								</a>
								<span>— $datestr(post.posted_on)</span>
							</div>
					</div>
					<div id="foot">
						<div id="foot-message">
							
						</div>
					</div>
				</div>
			</div>
			<script src="/static/scripts/sidebarEffects.js"></script>
		</div>
	</body>
</html>