$def with (head, offleft, post, heroURL)

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/linkeffect.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/blogpost.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/opaque_header.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="/static/scripts/classie.js"></script>
		<script src="/static/scripts/modernizr.custom.js"></script>
        <script src="/static/scripts/blogpost.js"></script>
	</head>
	<body>
		<div id="st-container" class="st-container">
			$:offleft
			<div class="st-pusher">
				<div class="st-content">
					$:head
                    <section id="hero" style="background-image: url($:heroURL);">
                        <div id="title" class="as">$post.title</div>
                        <span class="arrow"></span>
                    </section>
					<div id="post-content">
						<article>
							$:post.html
						</article>
					</div>
					<div id="foot">
						<div id="foot-message">
							
						</div>
					</div>
				</div>
			</div>
			<script src="/static/scripts/sidebarEffects.js"></script>
		</div>
	</body>
</html>