$def with ()
    <div id="header">
        <div id="st-trigger-effects" class="column">
            <button class="nav-btn" data-effect="st-effect-4"></button>
        </div>
        <div class="name">
            <a href="/" class="button">
                <img src="/static/images/coffee.svg"/>
    Fill
            </a>
        </div>
        <ul class="nav cl-effect-1">
            <li class="button">
                <a href="/blog" class="button">Blog</a>
            </li>
            <li class="button">
                <a href="/work" class="button">Work</a>
            </li>
        </ul>
    </div>