$def with (head, offleft)
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/linkeffect.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="/static/scripts/classie.js"></script>
		<script src="/static/scripts/modernizr.custom.js"></script>
	</head>
	<body>
		<div id="st-container" class="st-container">
			$:offleft
			<div class="st-pusher">
				<div class="st-content">
					$:head
					<div id="content">
						<div class="welcome">
                            <h4>About Me</h4>
                            <div>
                                Hello, I am a 3rd year computer science student at UBC in Vancouver, Canada.  In my spare time I develop
                                <a href="http://ubcsailbot.org/2013/11/02/introduction-to-the-gui/">software</a>/
                                <a href="http://ubcsailbot.org/2013/11/30/designing-an-autonomous-route-planning-algorithm-prototype">firmware</a>
                                for <a href="http://ubcsailbot.org">UBC Sailbot</a> and <a href="http://github.com/joshandrews">build apps</a> that try to offer
                                a glimpse at the future of computing.  I enjoy making music and <a href="http://www.flickr.com/photos/josh-andrews/">photography</a>.  I try to occasionally dip my toes into design.
                            </div>
                            <h4>Find Me</h4>
                            <div class="fmlink"><a href="http://github.com/joshandrews">GitHub</a></div>
                            <div class="fmlink"><a href="http://facebook.com/joshandrews1">Facebook</a></div>
                            <div class="fmlink"><a href="http://ca.linkedin.com/in/joshpandrews">LinkedIn</a></div>
                            <div class="fmlink"><a href="mailto:joshphilipandrews@gmail.com">Email</a></div>
                        </div>
					</div>
				</div>
			</div>
			<script src="/static/scripts/sidebarEffects.js"></script>
		</div>
	</body>
</html>
