$def with (head, offleft)
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/linkeffect.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/work.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="/static/scripts/classie.js"></script>
		<script src="/static/scripts/modernizr.custom.js"></script>
	</head>
	<body>
		<div id="st-container" class="st-container">
			$:offleft
			<div class="st-pusher">
				<div class="st-content">
					$:head
					<div id="content-work">
                        <h3 class="twentyfourteen">2014</h3>
                        <ul>
                            <li>
                                <h4><a href="/work/ubcsailbot-microtransat">UBC Sailbot - Microtransat</a></h4>
                            </li>
                            <li>
                                <h4><a href="/work/americano">Americano</a></h4>
                            </li>
                        </ul>
                        <h3 class="twentythirteen">2013</h3>
                        <ul>
                            <li>
                                <h4><a href="/work/expedia-checkout-team-bellevue">Expedia Checkout Team - Bellevue, WA</a></h4>
                            <li>
                                <h4><a href="/work/ubcsailbot-challenge">UBC Sailbot</a></h4>
                            </li>
                            <li>
                                <h4><a href="/work/speech-to-text">Speech to Text (Jarvis)</a></h4>
                            </li>
                        </ul>
                        <h3 class="twentytwelve">2012</h3>
                        <ul>
                            <li>
                                <h4><a href="/work/expedia-seo-team-london">Expedia SEO Team - London, UK</a></h4>
                            </li>
                            <li>
                                <h4><a href="/work/dCide">dCide</a></h4>
                            </li>
                        </ul>
                        <h3 class="twentytwelve">2011</h3>
                        <ul>
                            <li>
                                <h4><a href="/work/ibm-hursley">IBM - Hursley, UK</a></h4>
                            </li>
                            <li>
                                <h4><a href="/work/blurbber">Blurbber</a></h4>
                            </li>
                        </ul>
					</div>
				</div>
			</div>
			<script src="/static/scripts/sidebarEffects.js"></script>
		</div>
	</body>
</html>